@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.barra-lateral {
    width: 22em;
    height: 100em;
    /* border: 1px solid red; */
    position: absolute;
}

.dashboard {
    background-color: #757A96;
    border: 1px solid #757A96;
    width: 21.8em;
    height: 30em;
}

.titulo-dashboard {
    font-family: Poppins;
    color: white;
    font-size: 50px;
    margin-top: 20px;
    /* border: 1px solid red; */
    text-align: center;
}

.indicadores {
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    text-align: center;
}

.titulo-indicadores {
    margin-top: 50px;
    font-size: 20px;
    font-family: Poppins;
    color: white;
}

.caixa-roxa {
    background-color: #131a42;
    /* border: 1px solid red; */
    width: 21.8em;
    height: 69.7em;
}

.icons-1 {
    width: 35px;
    height: 35px;
    margin-right: 35px;
    margin-top: 50px;
    margin-left: 25px;
}

.icons-2 {
    width: 35px;
    height: 35px;
    margin-right: 35px;
}

.header{
    display: flex;
}

.cabeçalho-1{
    margin-left: 22em;
    width: 50em;
    height: 6em;
    /* border: 1px solid red; */
    margin-top: 20px;
}

.titulo {
    margin-left: 20px;
    padding: 30px;
    font-family: Roboto;
}

.cabeçalho-2{
    margin-top: 20px;
    width: 46.5em;
    height: 6em;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    float: right;

}

.esquerda {
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
}

.direito {
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
}

.nome-usuario {
    font-family: Dongle;
    font-size: 30px;
    padding-right: 20px;
}

.figura-mensagem {
    margin-top: 5em;
    margin-left: 30em;
    /* border: 1px solid red; */
    width: 80em;
    height: 30em;
    text-align: center;
}

.titulo-figura {
    font-size: 55px;
    font-family: Roboto;
}

.mensagem-figura {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-mensagem {
    margin-top: 0.5em;
    width: 20em;
    height: 20em;
}

.mensagem-cobranca {
    width: 63em;
    /* border: 1px solid red; */
    margin-left: 40em;
}

.mensagem-cobranca-2 {
    width: 63em;
    /* border: 1px solid red; */
    margin-top: 5em;
    margin-left: 40em;
}

.titulo-input {
    font-family: Roboto;
    color: #050e44;
    font-size: 25px;
    margin-bottom: 10px
}

.assunto-input {
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 10px
}

.input {
    border: 2px solid #07166b;
    border-radius: 8px;
    font-size: 23px;
    font-weight: bold;
    width: 45em;
    height: 7em;
    background-color: #f8f8f8;
    padding-left: 10px;;
}

::-webkit-input-placeholder {
    
    color: rgb(112, 108, 108);
    font-size: 20px;
    font-family: Roboto;
    opacity: 0.6;
}

.button-enviar {
    margin-top: 5em;
    margin-left: 51em;
}

.button {
    cursor: pointer;
    width: 20em;
    height: 2em;
    border-radius: 15px;
    background-color: rgb(82, 185, 82);
    border: 4px solid rgb(230, 230, 230);
    font-family: Dongle;
    font-size: 35px;
    color: white;
}