@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}


.caixa01 {
    /* border: 1px solid red; */
    width: 120em;
    height: 60.55em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11183F;
}

.caixa02 {
    width: 35em;
    height: 47em;
    background-color: white;
    border-radius: 13px;
    border: 8px solid #020b42;
}

.titulo {
    color: #11183F;
    padding: 5px;
    font-size: 50px;
    font-family: Poppins;
    /* border: 1px solid red; */
}

.caixa03 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    /* border: 1px solid red; */
}

.subtitulo {
    color: rgb(9, 9, 119);
    font-size: 35px;
    font-family: Dongle;
}

.caixa04 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}

h2 {
    margin-left: 25px;
    font-size: 27px;
    font-family: Dongle;
    color: rgb(190, 191, 192);
}

input {
    font-size: 25px;
    margin-left: 25px;
    width: 19.5em;
    height: 2.5em;
    border-radius: 7px;
    border: 0.5px solid rgb(238, 237, 237);
    margin-bottom: 25px;
    padding: 0% 2%;
}

::-webkit-input-placeholder {
    color: rgb(190, 190, 190);
    font-size: 30px;
    padding: 3% 5%;
    font-family: Dongle;
    opacity: 0.5;
}

.caixa05 {
    margin-top: 40px;
    /* border: 1px solid red; */
}

.between {
    display: flex;
    justify-content: space-between; 
}


a {
    /* border: 1px solid red; */
    padding-right: 50px;
    font-size: 27px;
    text-decoration: none;
    font-family: Dongle;
    color: rgb(190, 190, 190);
}

.caixa06 {
    
    display: flex;
    justify-content: center;
    align-items: center;

}


.acessar {
    color: white;
    font-size: 38px;
    font-family: Dongle;
    background-color: #13CAE6;
    cursor: pointer;
    width: 13.5em;
    height: 1.8em; 
    border-radius: 8px;
    box-shadow: 0 9px #999;
}

.acessar:active {
    background-color: #12b0c9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }




  @media screen and (max-width:640px){
    .caixa01 {
        width: 25em;
        height: 50.75em;
        background-color: white;
    }
    .caixa02 {
        border: none;
        margin-right: 25.5px;
        width: 25em;
        height: 51em;
    }

    input {
        font-size: 25px;
        margin-left: 25px;
        width: 11.5em;
        height: 2.5em;
        border-radius: 7px;
        border: 0.5px solid rgb(238, 237, 237);
        margin-bottom: 25px;
        padding: 0% 2%;
    }

    h2 {
        margin-left: 25px;
        font-size: 25px;
        font-family: Dongle;
        color: rgb(190, 191, 192);
    }

    a {
        padding-right: 43px;
        font-size: 25px;
        text-decoration: none;
        font-family: Dongle;
        color: rgb(190, 190, 190);
    }

    .acessar {
        margin-right: 20px;
        color: white;
        font-size: 38px;
        font-family: Dongle;
        background-color: #13CAE6;
        cursor: pointer;
        width: 7.5em;
        height: 1.8em; 
        border-radius: 8px;
        box-shadow: 0 9px #999;
    }

    
  }